
<div class="chatbox-message-content">
	<h4 class="chatbox-message-no-message">You don't have message yet!</h4>
</div>
<div class="chatbox-message-bottom">
	<form action="."  method="POST" class="chatbox-message-form">
        {% csrf_token %}
        <input rows="1" class="chatbox-message-input" placeholder="Type message..." required type="text" autofocus="autofocus" name="prompt" value="{{ prompt }}" id="">
		<button class="btn btn-success fw-bold" type="submit">
            GENARATE
        </button>
	</form>
</div>

<pre>
	{{ formatted_response}}
</pre>
